# Uvoz podatkov

In [81]:
import pandas
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

data = pandas.read_csv("data.csv")
data

,work_year,job_title,job_category,salary_currency,salary,salary_in_usd,employee_residence,experience_level,employment_type,work_setting,company_location,company_size
0,2023,Data DevOps Engineer,Data Engineering,EUR,88000,95012,Germany,Mid-level,Full-time,Hybrid,Germany,L
1,2023,Data Architect,Data Architecture and Modeling,USD,186000,186000,United States,Senior,Full-time,In-person,United States,M
2,2023,Data Architect,Data Architecture and Modeling,USD,81800,81800,United States,Senior,Full-time,In-person,United States,M
3,2023,Data Scientist,Data Science and Research,USD,212000,212000,United States,Senior,Full-time,In-person,United States,M
4,2023,Data Scientist,Data Science and Research,USD,93300,93300,United States,Senior,Full-time,In-person,United States,M
...,...,...,...,...,...,...,...,...,...,...,...,...
9350,2021,Data Specialist,Data Management and Strategy,USD,165000,165000,United States,Senior,Full-time,Remote,United States,L
9351,2020,Data Scientist,Data Science and Research,USD,412000,412000,United States,Senior,Full-time,Remote,United States,L
9352,2021,Principal Data Scientist,Data Science and Research,USD,151000,151000,United States,Mid-level,Full-time,Remote,United States,L
9353,2020,Data Scientist,Data Science and Research,USD,105000,105000,United States,Entry-level,Full-time,Remote,United States,S
9354,2020,Business Data Analyst,Data Analysis,USD,100000,100000,United States,Entry-level,Contract,Remote,United States,L

# Pretvorba podatkov

In [82]:
# Odstranim valuto in vrednost plače, saj imam plačo že podano v USD.
data = data.drop(columns=['salary_currency', 'salary'])

# Kategorične podatke označim kot kategorične.
data['job_title'] = data['job_title'].astype('category')
data['job_category'] = data['job_category'].astype('category')
data['employee_residence'] = data['employee_residence'].astype('category')
data['experience_level'] = data['experience_level'].astype('category')
data['employment_type'] = data['employment_type'].astype('category')
data['company_location'] = data['company_location'].astype('category')
data['company_size'] = data['company_size'].astype('category')
data['work_setting'] = data['work_setting'].astype('category')

data

,work_year,job_title,job_category,salary_in_usd,employee_residence,experience_level,employment_type,work_setting,company_location,company_size
0,2023,Data DevOps Engineer,Data Engineering,95012,Germany,Mid-level,Full-time,Hybrid,Germany,L
1,2023,Data Architect,Data Architecture and Modeling,186000,United States,Senior,Full-time,In-person,United States,M
2,2023,Data Architect,Data Architecture and Modeling,81800,United States,Senior,Full-time,In-person,United States,M
3,2023,Data Scientist,Data Science and Research,212000,United States,Senior,Full-time,In-person,United States,M
4,2023,Data Scientist,Data Science and Research,93300,United States,Senior,Full-time,In-person,United States,M
...,...,...,...,...,...,...,...,...,...,...
9350,2021,Data Specialist,Data Management and Strategy,165000,United States,Senior,Full-time,Remote,United States,L
9351,2020,Data Scientist,Data Science and Research,412000,United States,Senior,Full-time,Remote,United States,L
9352,2021,Principal Data Scientist,Data Science and Research,151000,United States,Mid-level,Full-time,Remote,United States,L
9353,2020,Data Scientist,Data Science and Research,105000,United States,Entry-level,Full-time,Remote,United States,S
9354,2020,Business Data Analyst,Data Analysis,100000,United States,Entry-level,Contract,Remote,United States,L

In [83]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9355 entries, 0 to 9354
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           9355 non-null   int64
 1   job_title           9355 non-null   category
 2   job_category        9355 non-null   category
 3   salary_in_usd       9355 non-null   int64
 4   employee_residence  9355 non-null   category
 5   experience_level    9355 non-null   category
 6   employment_type     9355 non-null   category
 7   work_setting        9355 non-null   category
 8   company_location    9355 non-null   category
 9   company_size        9355 non-null   category
dtypes: category(8), int64(2)
memory usage: 230.8 KB

In [84]:
# Kategorične podatke pretvorim v dummy / indikatorske spremenljivke (one-hot encoding).
data = pandas.get_dummies(data)
data

,work_year,salary_in_usd,job_title_AI Architect,job_title_AI Developer,job_title_AI Engineer,job_title_AI Programmer,job_title_AI Research Engineer,job_title_AI Scientist,job_title_AWS Data Architect,job_title_Analytics Engineer,...,company_location_Switzerland,company_location_Thailand,company_location_Turkey,company_location_Ukraine,company_location_United Arab Emirates,company_location_United Kingdom,company_location_United States,company_size_L,company_size_M,company_size_S
0,2023,95012,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,2023,186000,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
2,2023,81800,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
3,2023,212000,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
4,2023,93300,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9350,2021,165000,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,False,False
9351,2020,412000,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,False,False
9352,2021,151000,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,False,False
9353,2020,105000,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,True
9354,2020,100000,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,False,False

In [86]:
# Razdelim vhodne in izhodne podatke, v tem primeru je izhodni podatek (label) plača v USD.
input_data = data.drop(columns=['salary_in_usd'])
output_data = data['salary_in_usd']
output_data
# Razdelim 80% podatkov za treniranje modela, in 20% podatkov za testiranje (preverjanje).
## TODO: Stratifikacija
input_train, input_test, output_train, output_test = train_test_split(input_data, output_data, random_state=2, train_size=0.8)

3967    330000
4619    126400
1884    240000
7870    191200
9191    225000
         ...
1099    164640
2514    139400
6637    126000
2575    181500
7336     72000
Name: salary_in_usd, Length: 7484, dtype: int64